<div class="media">
   <div class="media-body">
   <h1>Current Collaborators</h1>
     <% collaborators.each do |collaborator|%>
      <ul class="media-heading">
        <li><%= collaborator.user.email %>
            <%= link_to "Remove Collaborator", wiki_collaborator_path(@collaborated_wiki, collaborator),  
            method: :delete, class: 'btn btn-danger', 
            data: { confirm: 'Are you sure you want to remove this collaborator?' } %></li>
      </ul>
      <% end %>
  </div>
</div>
