<h2>Thank you for your purchase, your account has been charged <strong><%= pretty_amount(@amount) %></strong>!</h2>
<div class="row">
  <div class="col-md-8">
    <p>You account will now recieve the following benefits:</p>
        <ul>
      <li>You can now create private wikis.</li>
      <li>You're private wikis can only be seen by people you permit to access them.</li>
      <li>We take our premium members' information seriously to protect your wikis from standard users.</li>
    </ul>
  </div>